.form-container {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  margin: auto;

  margin-top: 1rem;
}

/* .form-button {
  background-color: #0e957c; 
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}  */
