.form-container {
  max-width: var(--max--width--base);
  margin: auto;
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 5px;
}

.loader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.error-message {
  margin-left: 1rem;
  color: rgb(247, 23, 23);
  font-size: 12px;
}

.form-elements {
  max-width: 30rem;
}

.form-button {
  margin-top: 1rem;
  margin-bottom: 10rem;
}
