.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  padding: 3rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form-button {
  background-color: #0e957c;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
