.header-container {
  height: 15rem;
  margin-bottom: 5rem;
  background: var(--header--color--mint);
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header {
  display: flex;
  height: 15rem;
  align-items: center;
  justify-content: space-between;
}

.blockquote {
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
  color: white;
  margin: 0;
}

.text-flex {
  display: flex;
  align-items: baseline;
}

.header-title {
  font-size: 2.2rem;
}

.header-title,
.header-quote {
  margin: 0;
  color: white;
}

.header-quote {
  line-height: 2rem;
  font-weight: 400;
}

@media (max-width: 62rem) {
  .header-container {
    width: 100%;
    margin-bottom: 2rem;
    height: 17rem;
    display: flex;

    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 0;
  }

  .header-title {
    padding: 0 2rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .header-quote {
    padding-right: 0.5rem;
    font-size: 1rem;
  }
}
