.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: #a34bb2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.headline-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.headline {
  color: white;
}
