.header {
  background-image: url("src/assets/header-option-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.headline-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  max-width: var(--width);
  margin: auto;
  box-sizing: border-box;
}

.headline,
.header-p {
  color: white;
}
.header-p {
  margin-left: 2rem;
}
