.close-btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
.position-relative {
    position: relative;
}

.loading-competencies {
    margin: 0 auto;
    width: fit-content;
}

.competencies-header {
    cursor: pointer;
}