.pagination-container, .pagination-container-hide {
  border: 1px solid black;
  width: 100%;
  max-width: 800px;

  padding: 0.2rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #ffffff;
}

.pagination-container {
  opacity: 0;
  animation: slideInAndFade 0.5s ease-out forwards;
}

.pagination-container-hide {
  opacity: 1;
  animation: slideOutAndFade 0.5s ease-out forwards;
}

@keyframes slideInAndFade {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideOutAndFade {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 100%);
    opacity: 0;
    display: none;
  }
}

