.SR-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
}

.SR-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--width);
  margin-top: 1rem;
  gap: 10px;
  margin: 0 auto;
}


.SR-matches > li {
  width: var(--max--width--base);
  list-style-type: none;
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(31, 80, 96, 0.33);
  border-radius: 30px;
  cursor: pointer;
}
