.SR-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 8rem;
}

.SR-matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
}
.SR-matches > li:nth-child(odd) {
  background-color: rgba(4, 74, 98, 0.467);
}

.SR-matches > li {
  width: var(--max--width--base);
  list-style-type: none;
  padding: 1.2rem;
  text-align: center;
  background-color: rgba(31, 80, 96, 0.33);
  border-radius: 10px;
}
